*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: url("wallpaper2.jpg");
	height: 100px;
	background-position: center;
	background-size: cover;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 20px 35px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: darkblue;
    color: white;
    border: 4px solid black;
    margin: 20px;
    padding: 20px;
}

ul li.active a{
	background-color: #fff
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;